@font-face{
    font-family: "DMBold";
    font-weight: 700;
    src: url(../fonts/DMSans-Bold.ttf);
}

@font-face{
    font-family: "DMRegular";
    font-weight: 400;
    src: url(../fonts/DMSans-Regular.ttf);
}

@font-face{
    font-family: "DMMedium";
    font-weight: 500;
    src: url(../fonts/DMSans-Medium.ttf);
}

@font-face{
    font-family: "Rubik";
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}